#footer {
  background-color: rgb(107, 6, 240);
  color: white;
  line-height: 2em;
  padding: 20px;
}
li > a {
  color: white;
  text-decoration: none;
}
li > a:hover {
  color: goldenrod;
  text-decoration: none;
}
